/* General page settings */

h1, h2, h3, h4, p {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* Header styles */

.header-links a {
  color: #c2c1c1;
}

button a {
  color: #f9faf8
}

.main-header {
  /* outline: 4px solid green; */
  box-sizing: border-box;
  background-color: #1f2937;
  padding: 0px 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  /* outline: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.nav-bar h3 {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  font-size: 18px;
}

.header-content {
  /* outline: 5px solid red; */
  display: flex;
  flex: 1;
  align-items: center;
  height: 800px;
}

.content {
  /* outline: 2px solid blue; */
  min-height: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-right: 8px;
}

.content button {
  align-self: flex-start;
  height: 35px; 
  width: 125px;
  text-align: center;
  background-color: #3882f6;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  margin-top: 5px;
}

img {
  height: 250px;
  flex: 1;
  min-width: 0;
  border-radius: 10px;
}

.content h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.content h4 {
  font-size: 18px;
  color: #c2c1c1;
  font-weight: 400;
}

/* Information Section Styles */

.information {
  /* outline: 2px solid red; */
  height: 500px;
  padding: 0px 200px;
  display: flex;
  flex-direction: column;
}

.container {
  /* outline: 2px solid green; */
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  /* outline: 3px solid pink;  */
  text-align: center; 
  margin: 15px 25px 15px 25px;
}

.item img {
  max-width: 175px; 
  max-height: 175px;
  border-radius: 15px;
}

.item h4 {
  width: 175px;
  color: #6c6b6b;
  font-weight: 500;
  font-size: 18px;
}

.information h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin: 40px 0px 40px 0px;
}

/* Quote Section Styles */

.quote {
  height: 400px;
  padding: 0px 200px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 100;
  font-style: italic;
}


